<!DOCTYPE html>
<html>
    <head>
        <title>Sim-Sim: open up!</title>

        <link
            rel="icon"
            type="image/x-icon"
            href="/img/logo/sim-sim_newLogo_mini.svg"
        />
        <link rel="stylesheet" href="/css/main/style.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
        <div class="yb-line">
            <div class="yb">
                Новое поступление! Более 2 000 товаров в разделе
                <a href="/catalog/obuv">Обувь</a>
            </div>
            <div class="job"><a href="/job">Вакансии</a></div>
            <div class="get-call">
                <button class="btn green-btn">Заказать звонок</button>
            </div>
            <div class="contact">
                <a href="tel:+79068763435">+7 (906) 876-34-35</a>
            </div>
        </div>
        <div class="header">
            <div class="mobile-box">=</div>
            <div class="box">
                <div class="logo">
                    <a href="/">
                        <img
                            src="/img/logo/sim-sim_newLogo_mini.svg"
                            alt="sim-sim"
                        />
                    </a>
                </div>
                <div class="catalog">
                    <a href="/catalog"
                        ><div class="menu-items">Каталог товаров</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/garanty"
                        ><div class="menu-items">Гарантия</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/delivery"
                        ><div class="menu-items">Доставка</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/importers"
                        ><div class="menu-items">Поставщики</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/about"><div class="menu-items">О нас</div></a>
                </div>
                <div class="catalog">
                    <a href="/login"
                        ><div class="menu-items">Личный кабинет</div></a
                    >
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="body">
                <div class="single-item">
                    <div class="slide">
                        <img
                            src="http://localhost:3000/upload/iblock/f14/f148417651d105aed7fb31f6d5b672e5.png"
                            alt=""
                        />
                    </div>
                    <div class="slide">
                        <img
                            src="/upload/iblock/696/6969670695e623f94646c3328ed334fe.jpg"
                            alt=""
                        />
                    </div>
                    <div class="slide">
                        <img
                            src="/upload/iblock/a58/a58bddf366620c6af5254c025711d952.jpg"
                            alt=""
                        />
                    </div>
                </div>

                <div class="oplata">
                    <a
                        href="https://auth.robokassa.ru/Merchant/Index.aspx?MerchantLogin=sim-sim.vip&InvId=0&Culture=ru&Encoding=utf-8&OutSum=0,00&SignatureValue=702f2ff0860dbe8a96adb8fdd21ca299"
                    >
                        <button class="btn">Оплатить</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- slick styles -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/js/slick/slick/slick.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/js/slick/slick/slick-theme.css"
        />

        <!-- scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/slick/slick/slick.min.js"></script>
        <script src="/js/main/script.js"></script>
    </body>
</html>
