<!DOCTYPE html>
<html>
    <head>
        <title>Sim-Sim: open up!</title>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            rel="icon"
            type="image/x-icon"
            href="/img/logo/sim-sim_newLogo_mini.svg"
        />
        <link rel="stylesheet" href="/css/main/header.css" />
        <link rel="stylesheet" href="/css/main/wrapper.css" />
        <link rel="stylesheet" href="/css/main/footer.css" />
        <link rel="stylesheet" href="/css/main.css" />
        
        <!-- Yandex maps -->
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=2fe09f8c-1a97-42e2-be7f-ad1d5b14aa76" type="text/javascript"></script>
    </head>

    <body>
        <div class="yb-line">
            <div class="yb">
                Новое поступление! Более 2 000 товаров в разделе
                <a href="/catalog/obuv">Обувь</a>
            </div>
            <div class="job"><a href="/job">Вакансии</a></div>
            <div class="get-call">
                <button class="btn green-btn">Заказать звонок</button>
            </div>
            <div class="contact">
                <a href="tel:+79068763435">+7 (906) 876-34-35</a>
            </div>
        </div>
        <div class="header">
            <div class="mobile-box">=</div>
            <div class="box">
                <div class="logo">
                    <a href="/">
                        <img
                            src="/img/logo/sim-sim_newLogo_mini.svg"
                            alt="sim-sim"
                        />
                    </a>
                </div>
                <div class="catalog">
                    <a href="/catalog"
                        ><div class="menu-items">Каталог товаров</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/garanty"
                        ><div class="menu-items">Гарантия</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/delivery"
                        ><div class="menu-items">Доставка</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/importers"
                        ><div class="menu-items">Поставщики</div></a
                    >
                </div>
                <div class="catalog">
                    <a href="/about"><div class="menu-items">О нас</div></a>
                </div>
                <div class="catalog">
                    <a href="/login"
                        ><div class="menu-items">Личный кабинет</div></a
                    >
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="body">
                <!-- слайдер -->
                <div class="slider">
                    <div class="slide">
                        <img
                            src="/upload/iblock/f14/f148417651d105aed7fb31f6d5b672e5.png"
                            alt=""
                        />
                    </div>
                    <div class="slide">
                        <img
                            src="/upload/iblock/696/6969670695e623f94646c3328ed334fe.jpg"
                            alt=""
                        />
                    </div>
                    <div class="slide">
                        <img
                            src="/upload/iblock/a58/a58bddf366620c6af5254c025711d952.jpg"
                            alt=""
                        />
                    </div>
                </div>

                <!-- Категории товаров -->
                <h2>Категории товаров</h2>
                <hr />
                <div class="categories">
                    <a href="/categories/hats">
                        <div class="category hats">
                            <img src="/img/categories/hats.png" alt="hats" />
                            <h4>Головные уборы</h4>
                        </div>
                    </a>
                    <a href="/categories/clothes"
                        ><div class="category clothes">
                            <img
                                src="/img/categories/clothes.png"
                                alt="clothes"
                            />
                            <h4>Одежда</h4>
                        </div>
                    </a>
                    <a href="/categories/shoes">
                        <div class="category shoes">
                            <img src="/img/categories/shoes.png" alt="shoes" />
                            <h4>Обувь</h4>
                        </div></a
                    >
                    <a href="/categories/jewelry">
                        <div class="category jewelry">
                            <img
                                src="/img/categories/jewelry.png"
                                alt="jewelry"
                            />
                            <h4>Акссесуары</h4>
                        </div></a
                    >
                    <a href="/categories/backpacks">
                        <div class="category backpacks">
                            <img
                                src="/img/categories/backpacks.png"
                                alt="backpacks"
                            />
                            <h4>Рюкзаки</h4>
                        </div></a
                    >
                    <a href="/categories/chemicals">
                        <div class="category chemicals">
                            <img
                                src="/img/categories/chemicals.png"
                                alt="chemicals"
                            />
                            <h4>Бытовая химия</h4>
                        </div></a
                    >
                    <a href="/categories/toys">
                        <div class="category toys">
                            <img src="/img/categories/toys.png" alt="toys" />
                            <h4>Игрушки</h4>
                        </div></a
                    >
                    <a href="/categories/textile">
                        <div class="category textile">
                            <img
                                src="/img/categories/textile.png"
                                alt="textile"
                            />
                            <h4>Текстиль</h4>
                        </div></a
                    >
                    <a href="/categories/bazar">
                        <div class="category bazar">
                            <img src="/img/categories/bazar.png" alt="bazar" />
                            <h4>Базар</h4>
                        </div></a
                    >
                    <a href="/categories/other">
                        <div class="category other">
                            <img src="/img/categories/other.png" alt="other" />
                            <h4>Прочее</h4>
                        </div></a
                    >
                </div>
                <!-- Премиущества -->
                <div class="prem">
                    <div>
                        <img src="/img/prem/prem0.png" />Лучшие цены на
                        большинство товаров
                    </div>
                    <div>
                        <img src="/img/prem/prem1.png" />Обмен бракованного
                        товара
                    </div>
                    <div>
                        <img src="/img/prem/prem2.png" />Система индивидуальных
                        скидок
                    </div>
                    <div>
                        <img src="/img/prem/prem3.png" />Большая база
                        поставщиков
                    </div>
                </div>

                <!-- Новинки товаров -->
                <h2>Новинки товаров</h2>
                <hr />
                <div class="new-products">
                    <a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/clothes0.png"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Женский пиджак</h4>
                                <h2 class="price">1 100 ₽</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/shoes0.jpg"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Обувь мужская</h4>
                                <h2 class="price">790 ₽</h2>
                            </div>
                        </div> </a
                    ><a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/clothes0.png"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Женский пиджак</h4>
                                <h2 class="price">1 100 ₽</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/shoes0.jpg"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Обувь мужская</h4>
                                <h2 class="price">790 ₽</h2>
                            </div>
                        </div> </a
                    ><a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/clothes0.png"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Женский пиджак</h4>
                                <h2 class="price">1 100 ₽</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/shoes0.jpg"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Обувь мужская</h4>
                                <h2 class="price">790 ₽</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/clothes0.png"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Женский пиджак</h4>
                                <h2 class="price">1 100 ₽</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/shoes0.jpg"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Обувь мужская</h4>
                                <h2 class="price">790 ₽</h2>
                            </div>
                        </div> </a
                    ><a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/clothes0.png"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Женский пиджак</h4>
                                <h2 class="price">1 100 ₽</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/categories">
                        <div class="product">
                            <div class="photo-box">
                                <img
                                    class="photo"
                                    src="/img/products/shoes0.jpg"
                                />
                            </div>
                            <div class="desc">
                                <h4 class="title">Обувь мужская</h4>
                                <h2 class="price">790 ₽</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Описание Сим-Сим -->
                <h2>Сим-Сим, откройся! — оптовые поставщики одежды</h2>
                <div class="description">
                    <hr />
                    <br />
                    <p>
                        Если вы заинтересованы в надежной базе поставщиков
                        одежды оптом, сайт объявлений Сим-Сим — именно то, что
                        нужно. На его страницах аккумулированы сотни выгодных
                        предложений от проверенных временем поставщиков одежды,
                        обуви, аксессуаров, игрушек и многих других товаров.
                    </p>
                    <br />
                    <h2>В чем выгода от сотрудничества с Сим-Сим?</h2>
                    <br />
                    <p>
                        На площадке Сим-Сим сконцентрированы ключевые поставщики
                        одежды в Екатеринбурге. Представлена продукция в
                        различном ценовом диапазоне. Акцент сделан на доступный
                        товар высокого качества. Работать здесь можно как в
                        качестве поставщика, так и в качестве покупателя.
                    </p>
                    <br />
                    <p>
                        Активность на площадке открывает доступ к следующим
                        привилегиям:
                    </p>
                    <br />
                    <ul>
                        <li>
                            <span
                                >в каталоге представлен актуальный
                                ассортимент</span
                            >
                        </li>
                        <li>
                            <span>
                                ресурс не предусматривает внесения каких-либо
                                организационных сборов, наценок
                            </span>
                        </li>
                        <li>
                            <span>
                                используемые рекламные инструменты эффективны на
                                100%
                            </span>
                        </li>
                        <li>
                            <span>
                                возможна прямая связь с покупателем или
                                поставщиком
                            </span>
                        </li>
                        <li>
                            <span>
                                все пользователи сайта прошли проверку, а потому
                                им можно доверять
                            </span>
                        </li>
                        <li>
                            <span>
                                работа с ресурсом и решение бизнес-вопросов
                                осуществляются в удобное вам время
                            </span>
                        </li>
                    </ul>
                    <br />
                    <p>
                        На площадке сконцентрированы оптовые поставщики одежды,
                        в том числе верхней, нижнего белья. Здесь представлены
                        разные модели на любой случай жизни. В наличии как
                        повседневная и деловая, так и праздничная одежда.
                    </p>
                    <br />
                    <h2>Как работать с Сим-Сим?</h2>
                    <br />
                    <p>
                        Если вы работаете в сфере торговли, то теперь есть
                        возможность покупать одежду оптом в Екатеринбурге.
                        Продукция есть в наличии на собственной базе, на
                        доставку уходит минимум времени.
                    </p>
                    <p>
                        Чтобы продать или купить одежду оптом: женскую, мужскую
                        или детскую, регистрируйтесь на Сим-Сим и начинайте
                        работу. Понятный интерфейс площадки позволяет выполнять
                        все действия на ней на интуитивном уровне. Это идеальный
                        инструмент для совершения приносящих доход коммерческих
                        операций, расширения ассортимента и поиска новых
                        клиентов.
                    </p>
                    <br />
                    <h3>
                        Платформа Сим-Cим – новое слово в системе оптовых продаж
                        B2B
                    </h3>
                </div>

                <div class="best-suppliers">
                    <h2>Лучшие поставщики</h2>
                    <hr />
                    <br>
                    <div class="suppls">
                        <a href="/suppliers/best">
                            <div class="platinum">
                                <img src="/img/best_suppliers/platinum.jpg" class="ava" />
                                <p>
                                    <h3>Бахтовар М.</h3>
                                    <ul>
                                        <li><span>Тариф: <b>Platinum</b>
                                            <img src="/img/medals/platinum.svg" class="medal"></span></li>
                                        <li><span>Подписчики: <b>347</b></span></li>
                                        <li><span>Товаров продано: <b>107 392</b></span></li>
                                    </ul>
                                    <br>
                                    <button class="btn blue-btn">Подписаться</button>
                                </p>
                            </div>
                        </a>
                        <a href="/suppliers/best">
                            <div class="gold">
                                <img src="/img/best_suppliers/gold.jpg" class="ava" />
                                <p>
                                    <h3>Диловар М.</h3>
                                    <ul>
                                        <li><span>Тариф: <b>Gold</b><img src="/img/medals/gold.svg" class="medal"></span></li>
                                        <li><span>Подписчики: <b>263</b></span></li>
                                        <li><span>Товаров продано: <b>73 874</b></span></li>
                                    </ul>
                                    <br>
                                    <button class="btn blue-btn">Подписаться</button>
                                </p>
                            </div>
                        </a>
                        <a href="/suppliers/best">
                            <div class="silver">
                                <img src="/img/best_suppliers/silver.jpg" class="ava" />
                                <p>
                                    <h3>Quang C.</h3>
                                    <ul>
                                        <li><span>Тариф: <b>Silver</b><img src="/img/medals/silver.svg" class="medal"></span></li>
                                        <li><span>Подписчики: <b>127</b></span></li>
                                        <li><span>Товаров продано: <b>31 563</b></span></li>
                                    </ul>
                                    <br>
                                    <button class="btn blue-btn">Подписаться</button>
                                </p>
                            </div>
                        </a>
                        <a href="/suppliers/best">
                            <div class="bronze">
                                <img src="/img/best_suppliers/bronze.jpg" class="ava" />
                                <p>
                                    <h3>Бекзат Т.</h3>
                                    <ul>
                                        <li><span>Тариф: <b>Bronze</b><img src="/img/medals/bronze.svg" class="medal"></span></li>
                                        <li><span>Подписчики: <b>87</b></span></li>
                                        <li><span>Товаров продано: <b>1</b></span></li>
                                    </ul>
                                    <br>
                                    <button class="btn blue-btn">Подписаться</button>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Maps -->
                <div id="ykarta"></div>
                <style>
                    #ykarta{
                        width: 100%;
                        height: 600px;
                        padding: 0;
                        margin: 0;
                        background-color: rgb(0, 0, 0);
                    }
                </style>
                

            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="info-ftr">
                <a class="logo" href="/"></a><p>Sim-Sim, open up!</p><br>
                <div class="soc-web">
                    <a href="https://wa.me/+79655314777" class="wa"></a>
                    <a href="https://vk.com/publicsimsimvip" class="vk"></a>
                    <a href="https://t.me/sim_sim_off" class="tg"></a>
                </div><br>
                <div class="contact">
                    <a href="tel:+79068763435">+7 (906) 876-34-35</a>
                </div>
                <div class="get-call">
                    <button class="btn green-btn">Заказать звонок</button>
                </div><br>
                <p><a class="email" href="mailto:info@sim-sim.vip">info@sim-sim.vip</a></p>
                <br>
                <div class="company-links">
                    <a href="#">Политика конфиденциальности</a>
                <a href="#">Пользовательское соглашение</a>
                <a href="#">Реквизиты компании</a>
                <a href="#">Договор-оферта</a>
                </div>
            </div>
            <div class="catalog-ftr">
                <ul><h3>Компания</h3>
                    <a href="/tarifs">
                        <li>Тарифы</li>
                    </a>
                    <a href="/delivery">
                        <li>Условия доставки</li>
                    </a>
                    <a href="/stocks">
                        <li>Акции</li>
                    </a>
                    <a href="/suppliers">
                        <li>Поставщики</li>
                    </a>
                    <a href="/about">
                        <li>О нас</li>
                    </a>
                    <a href="/contacs">
                        <li>Контакты</li>
                    </a>
                </ul>
                <ul><h3>Каталог</h3>
                    <a href="/hats">
                        <li>Головные уборы</li>
                    </a>
                    <a href="/clothes">
                        <li>Одежда</li>
                    </a>
                    <a href="/shoes">
                        <li>
                            
                            Обувь
                            </li>
                    </a>
                    <a href="/jewelry">
                        <li>Акссесуары</li>
                    </a>
                    <a href="/backpacks">
                        <li>Рюкзаки</li>
                    </a>
                    <a href="/chemicals">
                        <li>Бытовая химия</li>
                    </a>
                    <a href="/toys">
                        <li>Игрушки</li>
                    </a>
                    <a href="/textile">
                        <li>Текстиль</li>
                    </a>
                    <a href="/bazar">
                        <li>Базар</li>
                    </a>
                    <a href="/other">
                        <li>Прочее</li>
                    </a>
                </ul>
            </div>
            <div class="mobile-apps-ftr">
                <h3>Скачайте наше приложение из популярных магазинов бесплатно</h3>
                <div>
                    <a href="https://play.google.com/store/apps/details?id=com.simsim.vip&hl=ru&gl=US"><img src="/img/icons/mobile_apps/gp.png"></a>
                <a href="https://apps.apple.com/ru/app/sim-sim/id1506082910"><img src="/img/icons/mobile_apps/as.png"></a>
                </div>
            </div>
            <br>
            <br>
            <p>© Copyright 2022. Все права защищены.</p>
        </div>

        <!-- slick styles -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/js/slick/slick/slick.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/js/slick/slick/slick-theme.css"
        />

        <!-- scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/slick/slick/slick.min.js"></script>
        <script src="/js/main/script.js"></script>
    </body>
</html>
